@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Koulen&family=Rubik:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #6965ae;
  font-family: "Rubik", sans-serif;
  color: #333;
}
body b {
  color: #97b8e1;
}
body a {
  text-decoration: none;
  color: #97b8e1;
}
body a:hover {
  color: #0dcaf0;
}

header {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
header img {
  width: 10rem;
  height: auto;
}
header h1 {
  color: whitesmoke;
  font-weight: 200;
  font-size: 1.2rem;
  margin: 10px auto;
}
header p {
  color: whitesmoke;
  margin: 0;
}
header .nav-pills {
  padding: 50px 0;
}
header .nav-pills .nav-link.active {
  background-color: #97b8e1;
}
header .nav-pills .nav-link.active:hover {
  color: #554078;
}
header .nav-pills a {
  color: #97b8e1;
}
header .nav-pills a:hover {
  color: #554078;
}

.main__section {
  position: relative;
  padding-bottom: 100px;
}
.main__section .main__section-title {
  font-size: 2.5rem;
}
.main__section .row {
  align-items: center;
}
.main__section .row .main__section-img {
  text-align: center;
  padding: 50px 0;
}
.main__section .row .main__section-img img {
  border-radius: 10px;
  max-width: 90%;
}
.main__section .row .btn-primary {
  background-color: #6f497e;
  border-color: #6f497e;
}
.main__section .row .btn-primary:hover {
  background-color: #97b8e1;
}

.main__section-spotify {
  background-color: #fff;
  position: relative;
  padding: 50px 0;
}
.main__section-spotify .container .row {
  align-items: center;
}
.main__section-spotify .container .row .col-md-12 {
  padding: 50px 0;
}
.main__section-spotify .container .row .col-md-12 h2 {
  text-align: center;
}
.main__section-spotify .container .row .col-md-8 {
  text-align: center;
}
.main__section-spotify .container .row .col-md-8 h3 {
  padding: 50px 0;
}

.main__section-cards {
  text-align: center;
  justify-content: center;
}
.main__section-cards h2 {
  color: #97b8e1;
}
.main__section-cards h2 b {
  color: #0dcaf0;
}
.main__section-cards .col-md-12 {
  margin: 100px 0 0 0;
  padding: 100px 0;
}
.main__section-cards .col {
  display: flex;
  justify-content: center;
}
.main__section-cards .btn-primary {
  background-color: #97b8e1;
  border-color: #97b8e1;
}
.main__section-cards .card {
  margin-bottom: 5px;
}
.main__section-cards .row__cards {
  margin-bottom: 100px;
}

.main__section-newsletter {
  background-color: #fff;
}
.main__section-newsletter h2 {
  margin: 50px 0;
}
.main__section-newsletter .btn-primary {
  background-color: #6f497e;
  border-color: #6f497e;
}
.main__section-newsletter .btn-primary:hover {
  background-color: #97b8e1;
}

.main__section-getintouch {
  padding: 100px 0;
  text-align: center;
}
.main__section-getintouch .row {
  margin: 50px 0;
}

.fav-logo i {
  font-size: 100px;
  color: #97b8e1;
}

.fav-logo a:link {
  font-size: 80px;
}

.fav-logo i:hover {
  color: #0dcaf0;
}

footer {
  margin: 100px 0 0 0;
}

/*LOAD CONTAINER*/
#carga {
  border: 15px solid #ccc;
  border-top-color: #61eace;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

#contenedor_carga {
  background-color: #6965ae;
  position: fixed;
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* SHAPE DIVIDER APP CUSTOM CLASS TOP*/
.custom-shape-divider-bottom-1660583551 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  padding: 0%;
}

.custom-shape-divider-bottom-1660583551 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 97px;
}

.custom-shape-divider-bottom-1660583551 .shape-fill {
  fill: #ffffff;
}

/*SHAPE DIVIDER APP CUSTOM CLASS BOTTOM*/
.custom-shape-divider-top-1660583816 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  padding: 0%;
}

.custom-shape-divider-top-1660583816 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 97px;
}

.custom-shape-divider-top-1660583816 .shape-fill {
  fill: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
