@media only screen and (max-width: 991px) {
  .listen-btn {
    margin-top: 5px;
  }
  footer {
    img {
      width: 10rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  .listen-btn {
    margin-top: 0;
  }
}

@media only screen and (max-width: 427px) {
  .listen-btn {
    margin-top: 5px;
  }
}
