@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Koulen&family=Rubik:wght@500&display=swap");
//VARS
$pad-topBot-50: 50px 0;
$pad-topBot-100: 100px 0;
$pad-bot-100: 100px;
$text-center: center;
$just-center: center;
$align-center: center;
$marg-top-100: 100px 0 0 0;
$marg-top-50: 50px 0 0 0;
$marg-topBot-50: 50px 0;
$marg-bot-100: 100px;
$color-purple: #6f497e;
$color-pale-blue: #97b8e1;
$color-background: #6965ae;
// RESET
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//GENERAL STYLES
body {
  background-color: $color-background;
  font-family: "Rubik", sans-serif;
  color: #333;
  b {
    color: #97b8e1;
  }

  a {
    text-decoration: none;
    color: #97b8e1;
    &:hover {
      color: #0dcaf0;
    }
  }
}
// HEADER AND NAV STYLES INDEX / ALL
section {
  position: relative;
}
header {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  img {
    width: 10rem;
    height: auto;
  }
  h1 {
    color: whitesmoke;
    font-weight: 200;
    font-size: 1.2rem;
    margin: 10px auto;
  }
  p {
    color: whitesmoke;
    margin: 0;
  }
  .nav-pills {
    padding: $pad-topBot-50;
    .nav-link.active {
      background-color: #97b8e1;
      &:hover {
        color: #554078;
      }
    }
    a {
      color: #97b8e1;
      &:hover {
        color: #554078;
      }
    }
  }
}

//MAIN HERO STYLES INDEX / ALL

.main__section {
  padding-bottom: $pad-bot-100;
  .main__section-title {
    font-size: 2.5rem;
  }
  h2 {
    color: whitesmoke;
  }
  .row {
    align-items: center;
    .main__section-img {
      text-align: center;
      padding: $pad-topBot-50;
      img {
        border-radius: 10px;
        max-width: 90%;
      }
    }
    .btn-primary {
      background-color: $color-purple;
      border-color: $color-purple;
      &:hover {
        background-color: $color-pale-blue;
      }
    }
  }
}

//MAIN SECTION SPOTIFY PLAYER INDEX

.main__section-spotify {
  background-color: #fff;
  position: relative;
  padding: $pad-topBot-50;
  .container {
    .row {
      align-items: $align-center;
      .col-md-12 {
        padding: $pad-topBot-50;
        h2 {
          text-align: $text-center;
        }
      }
      .col-md-8 {
        text-align: $text-center;
        h3 {
          padding: $pad-topBot-50;
        }
      }
    }
  }
}
// MAIN CARDS SECTION INDEX
.main__section-cards {
  text-align: $text-center;
  justify-content: $just-center;
  h2 {
    color: #97b8e1;
    b {
      color: #0dcaf0;
    }
  }
  .col-md-12 {
    margin: $marg-top-100;
    padding: $pad-topBot-100;
  }
  .col {
    display: flex;
    justify-content: $just-center;
  }
  .btn-primary {
    background-color: #97b8e1;
    border-color: #97b8e1;
  }
  .card {
    margin-bottom: 5px;
  }
  .row__cards {
    margin-bottom: $marg-bot-100;
  }
}
// MAIN SECTION NEWSLETTER INDEX
.main__section-newsletter {
  background-color: #fff;
  h2 {
    margin: $marg-topBot-50;
  }
  .btn-primary {
    background-color: $color-purple;
    border-color: $color-purple;
    &:hover {
      background-color: $color-pale-blue;
    }
  }
}

//MAIN SECTION GET IN TOUCH INDEX
.main__section-getintouch {
  padding: $pad-topBot-50;
  text-align: $text-center;
  .row {
    margin: $marg-topBot-50;
  }
  h2 {
    color: whitesmoke;
  }
  h4 {
    color: #0dcaf0;
  }
  p {
    color: whitesmoke;
  }
}
.newsletter_form {
  label {
    color: whitesmoke;
  }
  .form-text {
    color: #0dcaf0;
  }
}
.fav-logo i {
  font-size: 100px;
  color: #97b8e1;
}

.fav-logo a:link {
  font-size: 80px;
}

.fav-logo i:hover {
  color: #0dcaf0;
}
// FOOTER FOR ALL
footer {
  margin: $marg-top-100;
  img {
    width: 12rem;
    height: auto;
  }
}

//MAIN THERAPY
.main__section__therapy-title {
  h2 {
    color: #fff;
  }
}

.main__section__therapy {
  img {
    width: 14rem;
    height: auto;
  }
}

//MAIN TEAM
.team {
  position: relative;
  .modal-title {
    color: #333;
  }
  h1 {
    color: #fff;
  }
  h2 {
    color: whitesmoke;
  }
  .card {
    margin: $marg-top-50;
  }
  .btn-primary {
    background-color: $color-purple;
    border-color: $color-purple;
    &:hover {
      background-color: $color-pale-blue;
    }
  }
}

//SOCIALS STYLES

.socials-white {
  h3 {
    color: whitesmoke;
  }
}

//ABOUT STYLES

.contact_form {
  .btn-primary {
    background-color: #97b8e1;
    border-color: #97b8e1;
  }
  label {
    color: whitesmoke;
  }
  .form-check-input:invalid ~ .form-check-label {
    color: orangered;
  }
  .invalid-feedback {
    color: orangered;
    font-size: 1em;
  }
  .valid-feedback {
    color: greenyellow;
  }
}
/*LOAD CONTAINER FOR ALL*/
#carga {
  border: 15px solid #ccc;
  border-top-color: #61eace;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: girar 1.5s linear infinite;
}
#contenedor_carga {
  background-color: $color-background;
  position: fixed;
  height: 100%;
  width: 100%;
  transition: all 1s ease;
  z-index: 10000;
}
/* SHAPE DIVIDER APP CUSTOM CLASS TOP FOR ALL*/

.custom-shape-divider-bottom-1660583551 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  padding: 0%;
}

.custom-shape-divider-bottom-1660583551 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 97px;
}

.custom-shape-divider-bottom-1660583551 .shape-fill {
  fill: #ffffff;
}

/*SHAPE DIVIDER APP CUSTOM CLASS BOTTOM FOR ALL*/
.custom-shape-divider-top-1660583816 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  padding: 0%;
}

.custom-shape-divider-top-1660583816 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 97px;
}

.custom-shape-divider-top-1660583816 .shape-fill {
  fill: #ffffff;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@import "queries";
